.App {
  max-width: 800px;
  margin: 0 auto;
  color: #333333;
}

.App h1 {
  text-align: center;
}

.repo-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.repo-button-link {
  border: none;
  background-color: white;
  outline: none;
  box-shadow: none;
  padding: 1px 0;
  margin: 0 0.5rem;
  border-bottom: 1px dashed gray;
  font-size: 1rem;
}

.repo-button-link:hover {
  cursor: pointer;
  
}

.repo-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.repo-card {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px dashed gray;
  border-radius: 4px;
}

.repo-card h3 {
  text-align: center;
}

.link-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.repos-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.repo-count {
  color: #2e2e8b;
  font-weight: bold;
}

.repo-link {
  color: gray;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px dashed gray;
}

.danger {
  color: #e80e0e;
}

.warning {
  color: #e89b0e;
}

.success {
  color: #29b329
}

.uppercase {
  text-transform: capitalize;
}